<div class="container-qr">
       <div class="container-qr img">
              <qrcode qrdata="Test DATA ?" [width]="500"  elementType="svg"></qrcode>
       </div>
       <div class="container-qr input">
              <input
                       type="text"
                       placeholder="Entrez le code"
                       required="required"
              />
              <div class="container-qr button">
                     <button>commander</button>
              </div>
       </div>
       
</div>