<div class="container-qr">
       <div class="container-qr img">
              <qrcode qrdata="{{qrData}}" [width]="500"  elementType="svg"></qrcode>
       </div>
       <div class="container-qr input">
              <input
                       type="text"
                       placeholder="Entrez le code"
                       pInputText
                       [(ngModel)]="codeInput"
                       required="required"
              />
              <div class="container-qr button">
                     <button (click)="checkCode()">commander</button>
              </div>
       </div>
       
</div>