<div class="wrapper">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="https://www.mesdepanneurs.fr/themes/custom/md_bs4/img/mesdepanneurs-apropos-2.png" alt="Image">
                        <img src="https://www.mesdepanneurs.fr/sites/mesdepanneurs.fr/files/field/image/robinet-qui-bouge-fixation.jpeg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="about-text">
                        <h2><span>Qui</span> sommes nous ?</h2>
                        <p>
                            REPPARATEUR est une plateforme spécialisée dans le dépannage d’urgence à domicile.                        </p>
                        <p>
                            Pour faire simple, nous mettons en relation des particuliers (ou des entreprises) en difficulté avec des professionnels du dépannage et du jardinage à domicile qui soient fiables et disponibles.

                            Maintenant, terminé les interventions douteuses dont le prix vous fait sauter au plafond ! Vous savez qui appeler en cas de besoin.                        </p>
                        <a class="btn" href="">VOIR SERVICES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
    
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>