<div class="header">
    <div class="container-fluid">
        <div class="header-top row align-items-center">
            <div class="col-lg-3">
                <div class="brand">
                    <a href="/">
                        ASSISTANT
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="navbar navbar-expand-lg bg-light navbar-light">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto">
                            <a href="/assistantprofile" class="nav-item nav-link "  >Informations</a>
                            <a href="/assistantreceived" class="nav-item nav-link" >demandes reçus</a>
                            <a href="/assistantdone" class="nav-item nav-link" >demandes effectués</a>
                            <a href="/login" class="btn" (click)="deconnecter()" >Deconnecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>