<app-header></app-header>
<div class="container">
  <div class="navbar ul">
    <div class="dash-buttons">
      <a href="#" class="btn btn-light"
        ><i class="fas fa-user-circle text-primary"></i> EDIT PROFILE</a
      >
      <a href="#" class="btn btn-light"
        ><i class="fab fa-black-tie text-primary"></i> Demandes Reçus</a
      >
      <a href="#" class="btn btn-light"
        ><i class="fas fa-product-cap text-primary"></i>Demandes Effectues
      </a>
    </div>
  </div>
  <div class="">
    <app-demands></app-demands>
  </div>
</div>
<app-footer></app-footer>
