<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="footer-contact">
          <h2>Contacter Nous</h2>
          <p><i class="fa fa-map-marker-alt"></i>ENSIAS,Rabat,Maroc</p>
          <p><i class="fa fa-phone-alt"></i>+212 5 63 40 40 40</p>
          <p><i class="fa fa-envelope"></i>Repparateur@gmail.com</p>
          <div class="footer-social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-link">
          <h2>Repparateur</h2>
          <a href="">A propos</a>
          <a href="">Nos Services</a>
          <a href="">Nous contacter</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="footer-form">
          <h2>NOUVEAU SUR Repparateur</h2>
          <p>
            Inscrivez-vous à nos communications pour recevoir nos meilleures
            offres!
          </p>
          <input class="form-control" placeholder="Email" />
          <button class="btn">ENVOYER</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container copyright">
    <div class="row">
      <div class="col-md-6">
        <p>
          &copy; <a href="http://ensias.um5.ac.ma/">ENSIAS 2021</a>, All Right
          Reserved.
        </p>
      </div>
      <div class="col-md-6">
        <p>Designed By <a href="">ARZZ Team</a></p>
      </div>
    </div>
  </div>
</div>
