<app-assistantheader></app-assistantheader>
<div class="wrapper">
    <div class="service">
        <div class="container">
            <div class="section-header">
                <h2>Demandes Effectués</h2>
            </div>
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100 ver1 m-b-110">
                            <div class="table100-head">
                                <table>
                                    <thead>
                                        <tr class="row100 head">
                                            <th class="cell100 column1">Description</th>
                                            <th class="cell100 column4">Adresse</th>
                                            <th class="cell100 column5">Statut</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
            
                            <div class="table100-body js-pscroll">
                                <table>
                                    <tbody>
                                        <tr class="row100 body">
                                            <td class="cell100 column1">Réparation de chasse d'eau</td>
                                            <td class="cell100 column4">Avenue France Agdal Rabat, Immeuble 21 Appartement N 1</td>
                                            <td class="cell100 column5">Validé</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>