<div class="wrapper">
  <!-- Header Start -->
  <app-header></app-header>
  <!-- Header End -->

  <!-- Page Header Start -->
  <div class="page-header">
    <div class="row">
      <div class="col-12">
        <h2>Contactez Nous</h2>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Contact Start -->
  <div class="contact">
    <div class="section-header">
      <h2>Envoyez vos Questions | Reclamations</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="contact-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="name"
                    class="form-control"
                    placeholder="Your Name"
                    required="required"
                  />
                </div>
                <div class="form-group col-md-6">
                  <input
                    type="email"
                    pInputText
                    [(ngModel)]="email"
                    class="form-control"
                    placeholder="Your Email"
                    required="required"
                  />
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="subject"
                  class="form-control"
                  placeholder="Subject"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  pInputText
                  [(ngModel)]="message"
                  rows="6"
                  placeholder="Message"
                  required="required"
                />
              </div>
              <div>
                <button class="btn-contact" type="submit" (click)="addClaim()" >Envoyer</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->

  <!-- Footer Start -->
  <app-footer></app-footer>
  <!-- Footer End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>
