<div class="table100 ver1 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column2">Id Demande</th>
          <th class="cell100 column2">Type de Service</th>
          <th class="cell100 column1">Description</th>
          <th class="cell100 column4">Adresse</th>
          <th class="cell100 column5">Statut</th>
          <th class="cell100 column5"></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <tbody>
        <tr class="row100 body">
          <td class="cell100 column2">DEM0098757</td>
          <td class="cell100 column2">Plomberie</td>
          <td class="cell100 column1">Réparation de chasse d'eau</td>
          <td class="cell100 column4">
            Avenue France Agdal Rabat, Immeuble 21 Appartement N 1
          </td>
          <td class="cell100 column5">Non Valider</td>
          <td>
            <button className="btn btn-primary">Valider</button>
          </td>
        </tr>

        <tr class="row100 body">
          <td class="cell100 column2">DEM0098757</td>
          <td class="cell100 column2">Plomberie</td>
          <td class="cell100 column1">Réparation de chasse d'eau</td>
          <td class="cell100 column4">
            Avenue France Agdal Rabat, Immeuble 21 Appartement N 1
          </td>
          <td class="cell100 column5">En cours</td>
          <td>
            <button className="btn-outline-warning disabled">Rapport</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
